#intro header div.title {
    position: absolute;
    top: 254px;
    left: 50%;
    z-index: 1000;
}

#intro header div.title div.titletext {
    line-height: 1em;
    font-size: 18px;
    font-family: 'monserrat-bold', sans-serif;
    color: #108632;
    text-align: center;
    width: 590px;
    margin-left: -50%;
}

.img-round-corners {
    border-radius: 30%;
}

footer ul.copyright li {
    color: #747474;
}
footer ul.copyright li a {
    color: #979797;
}
footer ul.copyright li a:hover {
    color: #FFFFFF;
}
