#intro header div.title {
    position: absolute;
    top: 72px;
    left: 50%;
    z-index: 1000;
}

#intro header div.title div.titletext {
    line-height: 1em;
    font-size: 80px;
    font-family: 'merriweather-bold', serif;
    color: #FFF;
    text-align: center;
    width: 590px;
    margin-left: -50%;
}

.img-circle {
    border-radius: 50%;
}

footer ul.copyright li {
    color: #747474;
}
footer ul.copyright li a {
    color: #979797;
}
footer ul.copyright li a:hover {
    color: #FFFFFF;
}
